body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#board {
  width: 100%;
  max-width: 624px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  height: 80px;
}

.cell {
  background-color: #efefe6;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: "Libre Franklin", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  transition: transform 0.2s;
}
.cell.highlighted {
  animation-name: bounce;
  animation-duration: 0.5s;
}
.cell.selected {
  background: #5a594e;
  color: white;
}
.cell.selected.winning-yellow {
  background: #fbd400;
  transition: background, 0.3s;
}
.cell.selected.winning-green {
  background: #b5e352;
  transition: background, 0.3s;
}
.cell.selected.winning-blue {
  background: #729eeb;
  transition: background, 0.3s;
}
.cell.selected.winning-purple {
  background: #bc70c4;
  transition: background, 0.3s;
}
.cell.selected.losing-gray {
  background-color: #7f7f7f;
  color: white;
}
.cell.selected.incorrect {
  animation-name: shake;
  animation-duration: 0.5s;
}
.cell.incorrect {
  background: gray;
  animation-name: shake;
  animation-duration: 0.5s;
}
.cell.clicked {
  transform: scale(0.9);
}
.cell:hover {
  cursor: pointer;
}

#button-wrapper {
  padding-top: 2rem;
}
#button-wrapper #submit-answer {
  font-family: "Libre Franklin", sans-serif;
  background: white;
  width: fit-content;
  min-width: 5.5em;
  height: 3em;
  text-align: center;
  max-width: 80vw;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5em;
  display: flex;
}

#experience-selector {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
#experience-selector #selector-label {
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-weight: 700;
  border-bottom: 2px solid black;
}
#experience-selector #checkbox-wrapper {
  display: flex;
  flex-direction: column;
}
#experience-selector .one-checkbox {
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 780px) {
  #board {
    width: 90vw;
  }
  .cell {
    font-size: 2.2vw;
    padding: 2.2vw;
    box-sizing: border-box;
  }
  .row {
    height: 22.5vw;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0% {
    transform: translateX(4px);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*# sourceMappingURL=stylesheet.css.map */
